.lock-icon {
    margin:auto;
    height:1em;
    width:1em;
    background-image:url("svg/lock.svg");
    background-position:center;
    background-repeat:no-repeat;
}
.unlock-icon {
    margin:auto;
    height: 1em;
    width: 1em;
    background-image: url("svg/unlock.svg");
    background-position: center;
    background-repeat: no-repeat;
}

button {
    margin: 0px;
    padding: 0 .5em;
}